.badge {
  background-color: tomato;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  color: white;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.exclamation-mark {
  background-color: white;
  color: tomato;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  font-weight: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid tomato;
  margin-left: 7px;
}
