/*왜 .nav에 배경색을 지정하면 작동이 안되는지?*/
.nav__list {
  background-color: rgba(122, 122, 122, 0.1);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 50px;
  box-sizing: border-box;
}
.nav__link {
  position: relative;
  color: #2e363e;
}
.nav__notification2 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 28px;
}
.nav__notification3 {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  position: absolute;
  left: 22px;
  bottom: 22px;
}
@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}
.nav__notification {
  position: absolute;
  left: 20px;
  bottom: 15px;
  animation: notificationAnimation 2s ease-in-out infinite;
  animation-delay: 1.4s;
}
@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.nav__btn {
  opacity: 0;
  transform: translateY(50px);
  animation: appearBtnAnimation 0.3s ease-in-out forwards;
  animation-delay: 1s;
}
.nav__btn:nth-child(2) {
  animation-delay: 1.3s;
}

.nav__btn:nth-child(3) {
  animation-delay: 1.6s;
}

.nav__btn:last-child {
  animation-delay: 1.9s;
}
